# ---- GraphHopper ----
graphhopper/graph-cache/
graphhopper/graphhopper-web-11.0.jar

# ---- OS / Editor files ----
.DS_Store
Thumbs.db
Desktop.ini


__pycache__/

# ---- Logs ----
*.log

# ---- OSM PBF files ----
*.osm.pbf
.venv/
.env
backend/.env
node_modules/
frontend/node_modules/