# ---- GraphHopper ----
graphhopper/graph-cache/
graphhopper/graphhopper-web-11.0.jar

# ---- OS / Editor files ----
.DS_Store
Thumbs.db
Desktop.ini

# ---- Logs ----
*.log

# ---- OSM PBF files ----
*.osm.pbf